.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body {
  background-color: black;
  font-family: verdana;
  color: white;
}

h1 {
  font-size: 1.5rem;
}

#header {
  background-color: #353535;
  padding: 1rem;
}

#main {
  padding-top: 1rem;
}

#error {
  display: none;
}

.hide {
  display: none;
}

.tabs {
  border-style: none;
  background-color: inherit;
}

.tabs-title a {
  color: white;
  background-color: black;
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: black;
}

.tabs-title a:hover {
  background-color: black;
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 7px;
  color: white;
}

.tabs-title a[aria-selected="false"] {
}

.tabs-title a[aria-selected="true"] {
  background: black;
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: #353535;
  font-weight: bold;
  color: white;
}

.tabs-content {
  background-color: black;
  border-bottom-style: none;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-color: #353535;
  border-left-color: #353535;
  border-right-color: #353535;
  border-top-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  color: grey;
}

.input-group-label {
  min-width: 6rem;
  background-color: #353535;
  color: white;
  border-color: #191919;
}

.input-group-field {
  background-color: black;
  border-color: #191919;
  color: white;
}

.input-group-field:focus {
  background-color: black;
}

.button .secondary {
  background-color: #3d3d3d;
}

.invalid {
  border-color: red;
}

.callout.alert {
  background-color: rgba(255,100,100,0.8);
  color: white;
}

.close-button {
  color: white;
}

.close-button:hover {
  color: black;
}
